.wrapperbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .dropdown-filter {
    width: 100vw;
    height: 100%;
    padding: 10px ;
    position: relative;
    background: #2e3e5a;
    z-index: 200000000000000;
  }
  .dropdown-view {
    display: block;
  }
  
  .title-filter {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
  
  .wrpapperbox-set {
    margin-top: 30px;
    
  }
  
  .labelbox {
  
    display: inline-block;
    position: relative;
    
  }
   label {
    display: block;
    margin: 0;
    width: 100%;
    color: #fff;
    cursor: url('/static/images/select.ico') ,auto !important;

  }
  
  .labelbox label input {
    margin-right: 10px;
    border-radius: 5px;
    cursor: url('/static/images/select.ico') ,auto !important;

  }
  .labelbox h4 {
    margin-top: -10px;
    color: #fff;
    padding: 10px;
  }
  .label-wrapper {
    margin: 10px;
    width: 200px;
    height: 100%;
    padding: 0.5em 0.3em;
    margin-left: 50%;
    transform: translateX(-53%);
    overflow: scroll;
    height: 200px;
    white-space: nowrap;
    font-size: 1em;
  }
  
  ::-webkit-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background-color: none;
  }
  ::-moz-scrollbar {
    min-width: 12px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background-color: none;
  }
  ::-webkit-scrollbar-thumb {
    background: #2e3e5a;
    border: solid 3px #fff;
  
    border-radius: 100px;
  }
  ::-moz-scrollbar-thumb {
    background: #2e3e5a;
    border: solid 3px #fff;
  
    border-radius: 100px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-moz-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-moz-scrollbar-thumb:active {
    background: rgba(255, 255, 255, 0.2);
  }
  ::-webkit-scrollbar-button {
    display: none;
    height: 0px;
  }
  ::-moz-scrollbar-button {
    display: none;
    height: 0px;
  }
  .button-item {
    margin-left: 50%;
    margin-top: 3em;
    transform: translateX(-40%);
    z-index: 2;
    
  }
  .send-filter {
    border: 3px solid #fff;
    color: #fff;
    background: none;
    font-size: 2em;
    padding: 5px 30px;
    border-radius: 6px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    margin-left: 1em;
    cursor: url('/static/images/click.ico') ,auto !important;
  }

  .send-filter:hover {
    color: #000;
    padding: 5px 3em;
  }
  .send-filter::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0%;
    background: #727cf5;
    left: 0;
    top: 0;
    border-radius: 0 0 50% 50%;
    z-index: -1;
    transition: 1s;
  }
  .send-filter:hover::before {
    height: 200%;
  }
  .send-filter-send {
    background: #fff !important;
    color: #2e3e5a;
  }
  button.ga-filter-style {
    position: fixed;
    right: 0;
    bottom: -10px;
    border: none;
    background: #fff;
    color:  #2e3e5a;
    transition: 0.8s;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;
    cursor: url('/static/images/click.ico') ,auto !important;
    span , i{
      cursor: url('/static/images/click.ico') ,auto !important;
      font-size: 2em;
      
    }
    &:hover{
      width: 120px;
      height: 120px;
      font-size: 1em;
    }
  }
 
  
  

  .search_box {
    margin-top: 0.5em;
    width: 200px;
    margin-left: 1%;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    cursor: url('/static/images/select.ico') ,auto !important;
  }
 
  span.wrapper_back {
    margin: 2em;
    font-size: 1.5em !important;
  }
 
 
  .chart_loading {
    position: absolute;
    left: 35%;
    top: 47%;
  }
  .page_loading {
    position: relative;
    margin-left: 0;
    width: 200px;
    height: 200px;
    font-size: 3em;
    z-index: 10000;
    color: #fff;
  }